$box-shadow-8-penumbra: 0px 3px 14px rgba(0, 0, 0, 0.12);
$box-shadow-16-penumbra: 0px 3px 14px rgba(0, 0, 0, 0.12);
$prymary-color: #F50057;
$secoundry-color: hsl(198, 16%, 84%);
$white:#FFFFFF;
$white-2:#FAFAFA;
$black:#000000;
$black-2:#464646;
$border-radus: 16px
